<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:config/config.properties"/>

    <!-- 使用注解的简化配置 -->
    <!--<bean class="org.springframework.jmx.export.annotation.AnnotationMBeanExporter"/>-->

    <!-- 配置MBean探测器 -->
    <bean id="exporter" class="org.springframework.jmx.export.MBeanExporter">
        <!-- MBean探测模式默认为AUTODETECT_ALL：所有注册的MBean -->
        <!--<property name="autodetectModeName" value="AUTODETECT_ALL"/>-->
        <!-- true: AUTODETECT_ALL, false: AUTODETECT_NONE-->
        <!--<property name="autodetect" value="true"/>-->
        <!-- 配置纳入JMX管理的bean -->
        <!--<property name="beans">-->
        <!--<map>-->
        <!--<entry key="com.wch.jmx:name=Hello" value-ref="hello"/>-->
        <!--</map>-->
        <!--</property>-->
        <!-- 设置被管理bean的暴露方式 -->
        <property name="assembler" ref="assembler"/>
        <!-- 被管理bean的命名策略 -->
        <property name="namingStrategy" ref="namingStrategy"/>
    </bean>

    <!-- 基于方法集合的暴露方式 -->
    <!--<bean id="assembler" class="org.springframework.jmx.export.assembler.MethodNameBasedMBeanInfoAssembler">-->
    <!--<property name="managedMethods" value="setName,setAge"/>-->
    <!--</bean>-->

    <!-- 基于接口定制的暴露方式 -->
    <!--<bean id="assembler" class="org.springframework.jmx.export.assembler.InterfaceBasedMBeanInfoAssembler">
        <property name="managedInterfaces" value="HelloMBean"/>
    </bean>-->

    <!-- 配置使用JMX注解 -->
    <bean id="jmxAttributeSource" class="org.springframework.jmx.export.annotation.AnnotationJmxAttributeSource"/>

    <!-- 基于注解的暴露方式 -->
    <bean id="assembler" class="org.springframework.jmx.export.assembler.MetadataMBeanInfoAssembler">
        <property name="attributeSource" ref="jmxAttributeSource"/>
    </bean>

    <!-- 使用注解获取命名策略（objectName）-->
    <bean id="namingStrategy" class="org.springframework.jmx.export.naming.MetadataNamingStrategy">
        <property name="attributeSource" ref="jmxAttributeSource"/>
    </bean>

    <!-- 配置RMI远程访问 -->
    <bean id="registry" class="org.springframework.remoting.rmi.RmiRegistryFactoryBean">
        <!-- 默认端口为 1099 -->
        <property name="port" value="${jmx.register.port}"/>
    </bean>

    <!-- 配置服务端连接器，该bean本身也受JMX管理 -->
    <bean id="connectorServer" class="org.springframework.jmx.support.ConnectorServerFactoryBean" depends-on="registry">
        <property name="objectName" value="connector:name=rmi"/>
        <!-- 服务连接url，需要使用RMI端口，且使用<host>:<name>的方式远程访问时，服务名为jmxrmi-->
        <property name="serviceUrl" value="${jmx.connect.service.url}"/>
    </bean>

</beans>