<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:config/config.properties"/>

    <!-- 配置扫描jms包 -->
    <context:component-scan base-package="com.wch.origin.jms"/>

    <!-- ActiveMQ提供的ConnectionFactory，符合JMS规范 -->
    <bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${amq.broker.url}"/>
    </bean>

    <!-- Spring jms提供的连接池 -->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="targetConnectionFactory"/>
    </bean>

    <!-- 队列Destination -->
    <bean id="queueDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="${queue.test}"/>
    </bean>

    <!-- 主题Destination -->
    <bean id="topicDestination" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="${topic.test}"/>
    </bean>

    <!-- 注册JmsTemplate，用于发送消息 -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

    <!-- 配置消息监听器 -->
    <bean id="consumerTextMessageListener" class="com.wch.origin.jms.consumer.ConsumerTextMessageListener"/>

    <!-- queueDestination消息监听容器 -->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="queueDestination"/>
        <property name="messageListener" ref="consumerTextMessageListener"/>
        <!-- 配置多个消费者 -->
        <property name="concurrency" value="${amq.listener.concurrency}"/>
    </bean>

    <!-- topicDestination消息监听容器 -->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="topicDestination"/>
        <property name="messageListener" ref="consumerTextMessageListener"/>
    </bean>

</beans>